$image-theme-path-base  :'../../../images/';
$font-path              : '../../../fonts/';
$woo-font-path          : '../../../fonts/woocommerce/';
$theme-color            : #F86923;
$link-hover-color: 		#F86923;