// Variables
// --------------------------------------------------
$image-theme-path-base  :'../images/' !default;
$font-path              : '../fonts/';
$woo-font-path          : '../fonts/woocommerce/' !default;
// Theme Margin, Padding
$theme-margin: 				30px !default;
$theme-padding: 			30px !default;



//Color Skins Widget
$widget-blue               : #0068AA !default;
$widget-orange             : #EB5B00 !default;
$widget-green              : #00884F !default;
$widget-pink               : #ED1F58 !default;
$widget-brown              : #4B393D !default;
$widget-cornflower-blue    : #00A3DB !default;