//Page Product Detail
.single-product{
   .social-networks{
      padding-left: 20px;
      width: 100%;
      float: left;
      margin-top: 30px;
      list-style: none;
      > li{
         float: left;
         margin-right: 20px;
         a{
            font-size: 20px;
            i{
               font-size: 22px;
            }
            &:hover{
               color: $theme-color;
            }
         }
         &:last-child{
            margin-right: 0;
         }
      }
   }
   .product_image_wrapper{
      > .column-inner{
         padding-right: 50px;
         @media(max-width: $screen-md-max){
            padding-right: 0;
         }
      }
   }
   .image_frame{
      position: relative;
      .woocommerce-product-gallery__trigger{
         position: absolute;
         top: 15px;
         right: 15px;
         z-index: 99;
         @include size(38px, 38px);
         background: $white;
         @include box-shadow(2px 2px 2px 0 rgba(0, 0, 0, 0.1));
         text-align: center;
         &:after{
            content: '\e933';
            font-family: 'gva-icon';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            font-size: 16px;
            width: 100%;
            line-height: 40px;
         }
         img{
            display: none!important;
         }
         &:hover{
            background: $theme-color;
            color: $white;
         }
      }
      .onsale{
         position: absolute;
         top: 0;
         left: 0;
         right: auto;
         z-index: 99;
         background: $theme-color;
         display: inline-block;
         padding: 5px 10px;
         color: $white;
         font-family: $font-family-second;
      }
      .flex-control-nav{
         padding: 0;
         margin: 20px 0 0;
         @include clearfix();
         list-style-type: none;
         .owl-item{
            text-align: center;
            img{
               @include opacity(0.6);
               border: 1px solid transparent;
               @include transition(all 0.35s);
               &:hover, &:focus{
                  background: none;
                  cursor: pointer;
                  @include opacity(1);
               }
               &.flex-active{
                  border: 1px solid $theme-color;
                  @include opacity(1);
               }
            }
         }
      }
   }
   .woocommerce-product-gallery__image{
      display: none;
   }
   .woocommerce-product-gallery--with-images{
      .woocommerce-product-gallery__image{
         display: block!important;
      }
   }
   .breadcrumb{
      background: none;
   }
   .product-single-main{
      > div{
         background: $white;
         margin-bottom: 30px;
      }

      .menu-single-product{
         @include clearfix();
         margin-bottom: 15px;
         @media(max-width: $screen-sm-max){
            margin-top: 30px;
         }
         > a{
            @include size(42px, 42px);
            color: #aaaaaa;
            background: #F8F8F8;
            float: left;
            margin-left: 5px;
            line-height: 48px;
            text-align: center;
            &:hover{
               color: #262626;
            }
         }
      }
      &.product-type-grouped{
         form.cart{
            width: 100%;
            margin: 0;
            position: relative;
         }
         table.group_table{
            tr{
               border-top: 1px solid #ccc;
               td{
                  text-align: left;
                  line-height: 1;
                  border: none;
                  width: 25%;
                  vertical-align: middle;
                  height: auto;
                  margin: 0 0 10px;
                  padding: 15px;
                  border: 1px solid $border-color;
                  .quantity{
                     margin: 0;
                  }
                  &.label{
                     width: 50%;
                     display: table-cell!important;
                     white-space: normal;
                     a{
                        line-height: 22px;
                        font-size: 14px;
                        font-weight: 700;
                        &:hover{
                           color: $theme-color;
                        }
                     }
                  }
               }
            }    
         }
         .single_add_to_cart_button{
            position: absolute;
            top: 100%;
            left: 0;
         }
         .yith-wcwl-add-to-wishlist {
            margin-left: 190px!important; 
         }
      }
      &.product-type-variable{
         .yith-wcwl-add-to-wishlist{
            left: 242px;
            position: relative;
            top: -56px;
         }
         .yith-wcwl-add-to-wishlist{
            left: 242px;
            position: relative;
            margin-top: -56px;
         }
         a.compare.button{
            left: 242px;
            position: relative;
            margin-top: -56px;
         }
         .social-networks{
            //padding-bottom: 30px;
         } 
         .wc-variation-selection-needed{
            cursor: no-drop;
            background: #AAAAAA!important;
         }
         .single_add_to_cart_button{
            margin-left: 20px;
         }
      }
      &.product-type-simple{
         .quantity{
            float: left;
            display: inline-block;
            margin: 0 20px 0 0;
         }
      }
   }
   .swiper-wrapper, .swiper-slide{
      height: auto!important;
   }
   @media(max-width: $screen-sm-max){
      .product_thumbnails{
         display: none;
      }
   }
   .product_thumbnails_swiper_container{
      overflow: hidden;
      margin-top: 20px;
   }
   .swiper-wrapper{
      .swiper-slide{
         padding: 0 7px;
         @include opacity(0.6);
         &:first-child{
            @include opacity(1);
         }
      }
   }
   @media(max-width: $screen-sm-max){
      #product-images-carousel{
         .owl-nav{
            display: none;
         }
      }   
   }
   .column-inner{ 
      .clear{
         display: none;
      }
   }
   .entry-summary{
      .product_title{
         font-size: 24px;
         color: $headings-color;
         font-weight: 600;
         margin: 15px 0 5px;
         margin-top: 0;
         font-family: $font-family-second;
         letter-spacing: -1px;
      }
      .woocommerce-product-rating{
         font-size: 14px;
         .star-rating{
            float: left;
            margin-right: 10px;
            margin-top: 2px;
            color: #898989;
            &:before{
               color: #898989;
            }
         }
         .woocommerce-review-link{
            color: #898989;
            &:hover{
               color: $theme-color;
            }
         }
      }
      .price{
         font-size: 24px;
         font-weight: 400;
         color: $theme-color;
         margin: 18px 0 16px;
         font-family: $font-family-second;
         del{
            font-size: 16px;
            font-weight: 400;
            color: #999!important;
         }
         ins{
            text-decoration: none;
         }
      }
      .quantity input.qty{
         width: 60px;
         height: 42px;
      }
   }

   .product-single-inner{
      div[itemprop *= 'description']{
         margin-bottom: 34px;
         font-family: $font-family-second;
         color: $black;
         font-size: 16px;
         line-height: 30px;
      }
      .single-product-cart{
         float: left;
         .cart{
            .quantity, .add-cart{
               float: left;
            }
         }
      }
      .cart, .add-cart{
         display: inline-block;
         float: left;
         .button{
            display: inline-block;
            height: 42px;
            padding: 0 20px;
            line-height: 42px;
            background: $theme-color;
            font-family: $font-family-second;
            color: $white;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 12px;
            border: none;
            @include transition(all 0.35s);
            &:hover{
               background: $theme-color-2;
               color: $white;
            }
         }
      }
      .yith-wcwl-add-to-wishlist{
         @include size(42px, 42px);
         display: inline-block;
         float: left;
         margin-left: 20px!important;
         a{
            margin-left: 20px;
            @include size(42px, 42px);
            line-height: 42px;
            display: inline-block;
            background: $theme-color-2;
            text-indent: -9999px;
            margin: 0;
            position: relative;
            color: $white;
            @include transition(all 0.35s);
            @include border-radius(3px);
            &:after{
               text-indent: 0;
               text-align: center;
               font-family: "gva-icon";
               content: "\eddd";
               position: absolute;
               top: 0;
               left: 0;
               font-size: 20px;
               line-height: 42px;
               @include size(100%, 100%);
            }
            &:hover{
               background: $theme-color;
               color: $white;
            }
         }
         .yith-wcwl-wishlistexistsbrowse{
            .feedback{
               display: none;
            }
            a{
               &:after{
                  content: "\eddd"!important;
               }
            }
         }
         .yith-wcwl-wishlistexistsbrowse.show, .yith-wcwl-wishlistaddedbrowse.show{
            .feedback{
               display: none;
            }
            a{
               &:after{
                   content: "\e901"!important;
               }
            }
         }  
         .ajax-loading{
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 9;
         }
      }
      a.compare{
         margin-left: 20px!important;
         display: inline-block;
         float: left;
         margin-left: 20px;
         @include size(42px, 42px);
         line-height: 42px;
         background: $theme-color-2;
         text-indent: -9999px;
         margin: 0;
         position: relative;
         @include transition(all 0.35s);
         @include border-radius(3px);
         color: $white;
         &:after{
            text-indent: 0;
            text-align: center;
            font-family: "gva-icon";
            content: "\eb0f";
            position: absolute;
            top: 0;
            left: 0;
            font-size: 20px;
            line-height: 42px;
            @include size(100%, 100%);
         }
         &:hover{
            color: $white;
            background: $theme-color;
         }
      }
      form.cart{
         .table-product-group{
            td{
               width: 26%;
               float: left;
               margin: 0;
               padding: 15px 2%;
               > *{
                  width: 100%;
               }
               &:first-child{
                  border-left: 0!important;
               }
               &.label{
                  width: 48%!important;
                  min-height: 85px;
                  border-left: 1px solid $border-color;
                  border-right: 1px solid $border-color;
                  a{
                     font-size: 16px;
                     font-weight: 400;
                     white-space: normal;
                     line-height: 24px;
                     &:hover{
                        color: $theme-color;
                     }
                  }
               }
               .price{
                  margin-top: 10px;
               }
            }
         }
         .add-cart{
            button{
               height: 38px;
               padding: 0 30px;
               line-height: 38px;
               background: $theme-color;
               color: $white;
               font-weight: 400;
               text-transform: uppercase;
               font-size: 20px;
               border: none;
               @include transition(all 0.35s);
               &:hover{
                  background: $theme-color-2;
                  color: $white;
               }
            }
         }
      }   
   }
   .related-section{
      padding: 30px 0;
   }
   .product_meta{
      margin-top: 34px;
      width: 100%;
      float: left;
      @include clearfix();
      > span{
         font-family: $font-family-second;
         display: block;
         width: 100%;
         float: left;
         margin-bottom: 10px;
         color: #999999;
         a{
            color: #999999;
            &:hover{
               color: $theme-color;
            }
         }
         &.sku_wrapper{
            display: none;
         }
         span.title{
            display: inline-block;
            font-weight: 600;
            color: $black;
            margin-right: 6px;
         }
      }
   }
   .woocommerce-tabs{
      padding-top: 30px;
      border-top: 1px solid $border-color;
      .woocommerce-tabs-inner{
         margin: 0 auto;
      }
   }

}

/**
 * Shopping Cart Page
 */

table.cart{
    img{
        width: 80px; 
    }
} 

  
/* Checkout page  */
.woocommerce-info{
   padding: 8px 20px;
   margin-bottom: 10px;
   border: 1px solid transparent;
   border-radius: $alert-border-radius;
   @include alert-variant( #f5f5f5, #f5f5f5, $alert-info-text);
   a{
      color:$theme-color;
   }
}

.woocommerce-cart{
   .wc-proceed-to-checkout{
      margin-top: 30px;
   }
}
.woocommerce-account{
  #rememberme{
    margin: 12px 10px 0 0;
  }
  .woocommerce{
   padding: 0;
  }
  .woocommerce-MyAccount-navigation{
   padding: 0;
   @include clearfix();
   border-bottom: 1px solid $border-color;
   padding-bottom: 10px;
   margin-bottom: 10px;
   ul{
      padding: 0;
      margin: 0;
      @include clearfix();
      width: 100%;
      float: left;
      > li{
         float: left;
         list-style: none;
         padding-right: 15px;
         a{
            text-transform: uppercase;
            font-weight: 600;
            font-family: $font-family-second;
         }
         &.is-active{
            a{
               color: $theme-color;
            }
         }
      }
   }
  }
}
.order-review{
   border: 10px solid #f5f5f5;
    box-sizing: border-box;
    margin-top: 8px;
    padding: 40px 32px 22px;
}
.woocommerce-checkout-payment{
   padding-top:$padding-large-vertical;
   div.form-row{
      padding: 0 0 30px;
   }
}
.wc_payment_method{
   input{
      padding-top: 4px;
      margin-top: 6px;
      @include rtl-float-left();
   }
   label{
      font-weight: 600;
      color: $black;
      font-family: $font-family-second;
      margin-left: 20px;
      a, img{
         display: block;
      }
   }
   &.payment_method_paypal{
      input#payment_method_paypal{
         margin-right: 10px;
      }
      label{
         margin-left: 0;
      }
   }
}

.woocommerce{
   #breadcrumb{
      color: $white;
      font-weight: 700;
      a{
         color: $white;
         font-weight: 700;
         &:hover{
            color: $theme-color;
         }
      }
   }
  &.woocommerce-page{
      &.archive{
         .heading-title{
            display: none;
         }
      }
   }
   .title-layout-hero, .title-layout-background{
      .heading-title{
         display: block!important;
      }
   }
}

.woocommerce-page{
   .content-page-inner{
      .woocommerce{
         background: $white;
         margin-bottom: 30px;
      }
      input.button, a.button{
         background: $theme-color;
         padding: 8px 20px;
         font-size: 14px;
         border: none;
         text-transform: uppercase;
         color: $white!important;
         @include transition(all 0.35s);
         &:hover{
            background: #242424;
         }
      }
      .col2-set{
         @include clearfix();
         margin-left: -15px;
         margin-right: -15px;
         > div{
            padding-left: 15px;
            padding-right: 15px;
            width: 50%;
            float: left;
         }
      }
   }
   &.woocommerce-cart{
      .actions{
         padding: 15px!important;
      }
      .coupon{
         max-width: 80%;
         margin: 0 10px 0 0!important;
         margin-top: 3px;
         label{
            display: none;
         }
         input{
            @include border-radius(0);
            float: left;
            width: auto;   
            margin-right: 5px;
            &#coupon_code{
               width: 150px;  
               height: 40px;
            }
         }
      }
      button[name*="update_cart"]{
         float: right;
      }
   }
   &.woocommerce-account{
      .woocommerce-form__label-for-checkbox{
         margin-top: 10px;
         float: left;
         width: 100%;
         margin-bottom: 0;
         #rememberme{
            margin: 8px 10px 0 0;
         }
      }
      .lost_password{
         margin-top: -10px;
      }
      form.woocommerce-form{
         .woocommerce-form-row{
            margin-bottom: 20px;
         }
      }
   }
}

.shop_attributes{
   td{
      vertical-align: middle;
   }
}

.woocommerce-cart-form__contents{
   thead{
      tr{
         th{
            font-family: $font-family-second;
            color: $black;
            border-bottom: 0;
            font-weight: 600;
            text-align: center;
         }
      }
   }
   .woocommerce-cart-form__cart-item{
      td{
         vertical-align: middle;
         text-align: center;
         color: $black;
         font-family: $font-family-second;
         &.product-remove{
            width: 50px;
            a.remove{
               display: inline-block;
               @include size(30px, 30px);
               background: $theme-color;
               font-size: 16px;
               line-height: 32px;
               &:hover{
                  background: $black;
                  color: $white;
               }
            }
         }
      }
   }
   .product-thumbnail{
      text-align: center;
   }
   .product-name{
      font-family: $font-family-second;
      font-weight: 600;
   }
   .product-quantity{
      width: 100px;
      .quantity{
         width: 100%;
         input{
            width: 100%;
            height: 36px;
            text-align: center;
         }
      }
   }
}

.cart_totals{
   table.shop_table{
      color: $black;
      font-family: $font-family-second;
   }
}