$image-theme-path-base  :'../../../images/';
$font-path              : '../../../fonts/';
$woo-font-path          : '../../../fonts/woocommerce/';
$theme-color            : #CD2122;
$link-hover-color: 		#CD2122;