$image-theme-path-base  :'../../../images/';
$font-path              : '../../../fonts/';
$woo-font-path          : '../../../fonts/woocommerce/';
$theme-color            : #374F99;
$link-hover-color:      #374F99;